@import "bootstrap-sprockets";
@import "bootstrap";

@import "spree/frontend/products";
@import "spree/frontend/checkout";
@import "spree/frontend/header";
@import "spree/frontend/auth";
@import "spree/frontend/home";
@import "spree/frontend/responsive";
@import "spree/frontend/footer";

$mon-font: 'Montserrat', sans-serif;

h1, h2, h3, h4, h5, p, li {
	font-family: $mon-font;
}

#user-session-controls {
	margin-top:16px;
}

#main-body {
	height:90vh;
	margin-bottom:50px;
	/*border:1px solid red;*/
}