#checkout-email {
	padding-top:40px;
	padding-bottom:20px;
}


ul.shipping-methods {
	padding-left:0px;
}

li.shipping-method {
	list-style: none;
}

.no-border {
	border-top:1px solid #ffffff;
}

tfoot {
	border-top:2px solid white;
}

#place-order {
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid #cdcdcd;
}
