div.main-categories div {
	height:100px;
	background-color:#cdcdcd;
}

#home-skis {
	background-image:url('/assets/HOME-SKIS-RRH01LC_RAHLC01_HERO_ELITE_LT_TI_Konect_FCHC006_SPX_12_Konect_DUAL_B80_Black_Icon.jpg');
	background-size: cover;
}

#home-boots {
	background-image:url('/assets/HOME-BOOTS-LBG1030_RS-130.jpg');
	background-size:cover;
}

#home-poles {
	background-image:url('/assets/HOME-POLES.jpg');
	background-size:cover;
}

#home-bindings {
	background-image:url('/assets/HOME-BINDINGS-FCFA020_PX18_WC_RFlex_Wht.jpg');
	background-size:cover;
}

#home-bags {
	background-image:url('/assets/HOME-BAGS-DKFB100_SPEED_CARGO_BAG.jpg');
	background-size:cover;
}

#home-accessories {
	background-image:url('/assets/HERO-ACCESSORIES-RKHH100_HERO-9-FIS-IMPACTS-WITH-CHINGUARD.jpg');
}
