/*div.product-image {
	min-height:200px;
}*/

#products div.caption h3 {
	font-size:14px;
}



#rossignol-skis {
	background-image:url('/assets/CATEGORY_HOMEPAGE_SKIS.png');
	background-size: cover;
	border-right:1px solid white;
}

#rossignol-boots {
	background-image:url('/assets/CATEGORY_HOMEPAGE_BOOTS.png');
	background-size:cover;
	border-right:1px solid white;
}

#rossignol-poles {
	background-image:url('/assets/CATEGORY_HOMEPAGE_POLES.png');
	background-size:cover;
	border-right:1px solid white;
}

#rossignol-bindings {
	background-image:url('/assets/CATEGORY_HOMEPAGE_BINDINGS.png');
	background-size:cover;
	border-right:1px solid white;
}

#rossignol-bags {
	background-image:url('/assets/CATEGORY_HOMEPAGE_BAGS.png');
	background-size:cover;
	
}

#rossignol-accessories {
	background-image:url('/assets/CATEGORY_HOMEPAGE_ACCESSORIES.png');
	background-size:cover;
	border-right:1px solid white;

}



#dynastar-skis {
	background-image:url('/assets/CATEGORY_DYNASTAR_HOMEPAGE_SKIS.png');
	background-size: cover;
	border-right:1px solid white;
	background-color:black;
}

#dynastar-boots {
	background-image:url('/assets/CATEGORY_DYNASTAR_HOMEPAGE_BOOTS.png');
	background-size:cover;
	border-right:1px solid white;
	background-color:black;
}

#dynastar-poles {
	background-image:url('/assets/CATEGORY_DYNASTAR_HOMEPAGE_POLES.png');
	background-size:cover;
	border-right:1px solid white;
	background-color:black;
}

#dynastar-bindings {
	background-image:url('/assets/CATEGORY_DYNASTAR_HOMEPAGE_BINDINGS.png');
	background-size:cover;
	border-right:1px solid white;
	background-color:black;
}

#dynastar-bags {
	background-image:url('/assets/CATEGORY_DYNASTAR_HOMEPAGE_BAGS.png');
	background-size:cover;
	background-color:black;
}

#dynastar-accessories {
	background-image:url('/assets/CATEGORY_DYNASTAR_HOMEPAGE_ACCESSORIES.png');
	background-size:cover;
	background-color:black;
	border-right:1px solid white;
}



#coach-skis {
	background-image:url('/assets/CATEGORY_HOMEPAGE_SKIS.png');
	background-size: cover;
	border-right:1px solid white;
	background-color:gray;
}

#coach-boots {
	background-image:url('/assets/CATEGORY_DYNASTAR_HOMEPAGE_BOOTS.png');
	background-size:cover;
	border-right:1px solid white;
	background-color:gray;
}

#coach-poles {
	background-image:url('/assets/CATEGORY_HOMEPAGE_POLES.png');
	background-size:cover;
	border-right:1px solid white;
	background-color:gray;
}

#coach-bindings {
	background-image:url('/assets/CATEGORY_HOMEPAGE_BINDINGS.png');
	background-size:cover;
	border-right:1px solid white;
	background-color:gray;
}

#coach-bags {
	background-image:url('/assets/CATEGORY_DYNASTAR_HOMEPAGE_BAGS.png');
	background-size:cover;
	
	background-color:gray;
}

#coach-accessories {
	background-image:url('/assets/CATEGORY_HOMEPAGE_ACCESSORIES.png');
	background-size:cover;
	background-color:gray;
	border-right:1px solid white;

}