<% if @flag == 'yes' %>
	<% size = :large %>
<% else %>
	<% size = :product %>
<% end %>

<%# size ||= :large %>
<% itemprop ||= nil %>
<%= @flag %>
<% if image && image.attachment? %>
  <% if itemprop %>
    <%= image_tag image.attachment(:large), itemprop: itemprop %>
  <% else %>
    <%= image_tag image.attachment(size) %>
  <% end %>
<% else %>
  <span class="image-placeholder <%= size %>"></span>
<% end %>