<% if @flag == 'yes' %>
	<% size = :large %>
<% else %>
	<% size = :product %>
<% end %>

<%#= controller.action_name %>

<%# size ||= :large %>
<% itemprop ||= nil %>
<%#= @flag %>
<% if image && image.attachment? %>
  <% if itemprop %>
    <%= image_tag image.attachment(:large), itemprop: itemprop %>

  <% else %>
    <%= image_tag image.attachment(:large) %>

  <% end %>
<% else %>
  <span class="image-placeholder <%= size %>"></span>
<% end %>